* {
  font-family: sans-serif;
}

html, body {
  height: 95%;
  width: 95%;
  background: #131516;
  color: #d8d4cf;
}

footer {
	text-align:right;
	font-weight: bold;
}

a:link {
	color: white;
}

a:visited {
	color: green;
}

select, textarea {
	background-color: #181a1b;
	border-color: #736b5e;
	color: #e8e6e3;
}


.grid-container {
  display: grid;
  width: 50vw;
  height: 80vh;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1% 98% 1%;
  gap: 1% 1%;
  grid-template-areas:
    "header header"
    "options result"
    "footer footer";
}

.header { grid-area: header; }
.options { grid-area: options; }
.result { grid-area: result; }
.footer { grid-area: footer; }

